@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Service App</h1>
    <br />
    <br />
    <br />
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
