@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <container>
            <div class="text-center">
                <h1 class="display-4">FizzBuzz?</h1>
                <form method="post">
                    <label asp-for="FizzBuzz.Number"></label>
                    <input asp-for="FizzBuzz.Number" /><br />
                    <b><span asp-validation-for="FizzBuzz.Number" class="text-danger"></span></b><br />
                    <button type="submit">Submit</button>
                </form> <br />
                @{
                    if (Model.FizzBuzz != null)
                    {
                        <h2>@Model.FizzBuzz.Outcome</h2>
                    }
                }
            </div>
        </container>
</div>
